{% extends 'education/base.html' %}

{% block header %} bg1 {% endblock header %}

{% block institutions %}
    <!-- //product left -->
    <!-- product right -->
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for institution in institutions %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="men-thumb-item">
                            <img src="{{ institution.mainPhoto.url }}" class="img-fluid" alt="" >
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ institution.get_absolute_url }}" class="editContent" >{{ institution.name }}</a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money editContent" >{{ institution.category }}</span>
                                </div>
                            </div>
                            <ul class="ratingstatic">
                                {% for i in "12345" %}
                                    <li>
                                        <span class="fa fa-star {% if i|add:0 <= institution.average_rating %}checked{% endif %}"></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-img-right mt-4 text-right bg bg1" >
            {% include 'include/pagination.html' %}
        </div>
    </div>
{% endblock institutions %}
